@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/quicksand/Quicksand-Regular.ttf');
}

@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/quicksand/Quicksand-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Quicksand;
  src: url('../assets/fonts/quicksand/Quicksand-Bold.ttf');
  font-weight: 700;
}